.card {
  position: relative;
  padding: clamp(10px, 5vw, 50px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 2em;
  height: 500px;
  width: 90%;
  background-color: var(--c-neutrals-bg-l);
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  box-shadow: 0px 0px 70px 0px hsla(var(--c-neutrals-st), 0.1);
  box-sizing: border-box;
}
@media (max-width: 790px) {
  .card {
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    text-align: center;
  }
}
.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card__img {
  width: 100%;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* background-color: hsla(var(--c-neutrals-st), 0.3); */
  /* mix-blend-mode: hard-light; */
  /* background-size: auto; */
  border-radius: 0.5em;
}

.card.is_even .card__img {
  grid-column: 1 / 2;
  grid-row: 1;
}

.card__title {
  font-weight: 300;
  font-size: 1.5rem;
}

.card__description {
  font-weight: 300;
  font-size: 1rem;
}

.cardContainer {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}
@media (max-width: 790px) {
  .cardContainer {
    position: relative;
    align-items: normal;
  }
  .card {
    transform: scale(1) !important;
    -webkit-transform: scale(1) !important;
    -moz-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    -o-transform: scale(1) !important;
  }
  .card__img {
    background-image: none !important;
  }
}
