.container {
  padding: 70px 0;
}

.title {
  margin-bottom: 0.5em;
  color: #313c52;
  font-size: clamp(28px, 4vw, 60px);
}
.description {
  font-size: clamp(16px, 2vw, 20px);
  line-height: 1.5em;
}
