.hero {
  position: relative;
  min-height: 80vh;
  padding: clamp(3em, 12vw, 12em) 0 5em;
  color: #313c52;
}
@media (max-width: 768px) {
  .hero {
    min-height: auto;
  }
}
.hero__titel {
  line-height: 0;
}
.hero__titel p {
  width: 80%;
  line-height: 1.2em;
  font-size: clamp(1em, 4vw, 64px);
  font-weight: 300;
}
.hero__titel span {
  margin-left: -0.05em;
  padding: 0;
  line-height: 0.8em;
  font-size: clamp(3em, 25vw, 400px);
  font-weight: 800;
  letter-spacing: -0.05em;
}
